$main-color = #111111
$window-color = white
$window-color-darktheme = #0f0f0f
$top-navigation-color = #F3F3F3
$top-navigation-color-darktheme = #1b1b1b
$text-color = #111111
$text-color-darktheme = #f2f2f2
$inactive-link-color = #666666
$inactive-link-color-darktheme = #a9a9a9
$line-color = #D0D0D0
$active-tab-background-color = rgba(0, 0, 0, 0.07)
$focused-tab-background-color = rgba(0, 0, 0, 0.04)
$active-tab-background-color-darktheme = rgba(255, 255, 255, 0.08)
$focused-tab-background-color-darktheme = rgba(255, 255, 255, 0.04)
$message-info-border-color = #C8C8C8
$message-info-background-color = #F4F4F4
$message-error-border-color = #B0B0B0
$message-error-background-color = #ECECEC
$message-success-border-color = #D8D8D8
$message-success-background-color = #FAFAFA
$input-bad-border-color = #B0B0B0
$input-bad-background-color = #ECECEC
$input-good-border-color = #D8D8D8
$input-good-background-color = #FAFAFA
$input-enabled-background-color = #F8F8F8
$input-enabled-border-color = #E5E5E5
$input-enabled-text-color = $text-color
$input-enabled-text-color-darktheme = $text-color-darktheme
$input-disabled-background-color = #F2F2F2
$input-disabled-border-color = #DEDEDE
$input-disabled-text-color = #888888
$button-enabled-text-color = white
$button-enabled-background-color = $main-color
$button-disabled-text-color = #666666
$button-disabled-background-color = #D0D0D0
$post-thumbnail-border-color = $main-color
$post-thumbnail-no-tags-border-color = #555555
$default-tag-category-background-color = $active-tab-background-color
$new-tag-background-color = #F1F1F1
$new-tag-text-color = black
$new-tag-text-color-darktheme = $text-color-darktheme
$implied-tag-background-color = #E8E8E8
$implied-tag-text-color = black
$implied-tag-text-color-darktheme = $text-color-darktheme
$tag-suggestions-header-color = #EAEAEA
$tag-suggestions-border-color = #AFAFAF
$duplicate-tag-background-color = #DEDEDE
$duplicate-tag-text-color = black
$duplicate-tag-text-color-darktheme = $text-color-darktheme
$active-note-overlay-background-color = rgba(255, 255, 255, 0.28)
$active-note-overlay-border-color = rgba(0, 0, 0, 0.8)
$note-background-color = rgba(255, 255, 255, 0.28)
$note-border-color = rgba(0, 0, 0, 0.2)
$edited-note-background-color = rgba(245, 245, 245, 0.4)
$edited-note-border-color = rgba(0, 0, 0, 0.55)
$note-text-background-color = #F7F7F7
$note-text-border-color = black
$note-text-text-color = black
$first-note-point-color = #111111
$hovered-note-point-color = #555555
$hovered-first-note-point-color = #000000
$safety-safe = #D9D9D9
$safety-sketchy = #B8B8B8
$safety-unsafe = #8E8E8E
$scrollbar-thumb-color = $main-color
$scrollbar-bg-color = $input-enabled-background-color
$transparency-grid-square-color = #EDEDED
